
*.xcuserstate

*.xcbkptlist

Chess/Chess.xcodeproj/project.xcworkspace/xcuserdata/christian.xcuserdatad/UserInterfaceState.xcuserstate

Chess/Chess.xcodeproj/project.xcworkspace/xcuserdata/christian.xcuserdatad/UserInterfaceState.xcuserstate

Chess/Chess.xcodeproj/xcuserdata/christian.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
